.navbar{
  position: sticky; 
  top: 0; 
  z-index: 10;
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  height: 70px; 
  padding: 0 16px;
  background: #fdf9f4; 
  border-bottom: 1px solid #e7ebe7;
}

.nav-left { 
  display:flex; 
  align-items:center; 
  gap:10px;
  color: #2F2F2F;
}

.back-btn { 
  border: none;
  background: transparent; 
  padding: 8px 8px; 
  cursor: pointer 
}

.nav-title { 
  margin: 0; 
  font-size: 18px; 
  font-weight: 700; 
  color: #2F2F2F 
}

.nav-right { 
  display: flex; 
  align-items: center; 
  justify-content: center;
  border-radius: 50%;
  gap: 10px;
  width: 35px; 
  height: 35px; 
  background-color: #A3C4A8;
  color: #FEFBF6;
  font-size: 18px;
}