.floor-title {
    font-weight: 600;
    font-size: 18px;
    height: 90px;
    color: #2f2f2f;
}

.floor-panel {
    display: flex;
    flex-direction: column;
    width: 220px;
    color: #2f2f2f;
}

.floor-list-container {
    background: #D8EAD2;
    border-radius: 10px;
    height: 300px;
}

.floor-list {
    flex: 1;
    flex-direction: column;
}

.floor-item {
    display: block;
    width: 100%;
    text-align: left;
    padding: 8px 20px;
    border-bottom: 1px solid #6B7280;
    font-weight: 500;
}

.floor-item:first-child {
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* .floor-item:last-child {
    border-bottom: none;
} */

.floor-item:hover {
    background-color: #A3C4A8;
}

.floor-item.active {
    background-color: #7DA085;
    color: #FEFBF6;
}

.no-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.floor-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.floor-btn {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
}

.floor-btn.add, .edit {
    background: #7DA085;
}

.floor-btn.delete {
    background: #CF4648;
}