h3 {
  color: #A3C4A8;
}

.tabs {
  display: flex; 
  gap: 15px; 
  padding: 12px 8px 16px; 
}

.tab {
  width: 150px;
  height: 45px;
  padding: 10px 16px; 
  border-radius: 10px; 
  background: #D8EAD2; 
  color: #6B7280; 
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  justify-content: center;
}

.tab.router-link-active { 
  background: #A3C4A8; 
  color: #FEFBF6;
}

.admin-shell {
  display: grid;
  grid-template-columns: 260px 1fr;
  width: 100%;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow: auto;
  padding: 1rem;
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.upload-box {
  border: 2px dashed #aaa;
  padding: 2rem;
  text-align: center;
  border-radius: 12px;
  /* margin: 15px 10px 10px 10px; */
  cursor: pointer;
}

.upload-box:hover {
  border-color: #666;
}

.hidden-input {
  display: none;
}

.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.popup-confirm-title {
  font-size: 1.25rem; 
  font-weight: 600;   
  color: #333;
  margin-bottom: 0.5rem;
}

.popup-confirm-item {
  font-weight: 600;
  color: #d9534f; 
  text-decoration: none;

}

.popup-confirm-subtext {
  font-size: 0.9rem;
  color: #777; /* Lighter text */
}

.cancelBtn,
.deleteBtn,
.update-floor-confirm-btn,
.cancel-floor-confirm-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease;
}

.update-floor-confirm-btn {
  background-color: #A3C4A8;
  color: #fff;
}

.update-floor-confirm-btn:hover {
  background-color: #7d9b82;
}

.cancel-floor-confirm-btn {
  background-color: #d9534f;
  color: #fff;
}

.cancel-floor-confirm-btn:hover {
  background-color: #c9302c;
}

.cancelBtn {
  color: #333;
  background: #f0f0f0;
  border: 1px solid #ccc;
}

.cancelBtn:hover {
  background: #e0e0e0;
}

.deleteBtn {
  color: #fff;
  background: #d9534f;
}

.deleteBtn:hover {
  background: #c9302c;
}