h3 {
  color: #A3C4A8;
}

.tabs {
  display: flex; 
  gap: 15px; 
  padding: 12px 8px 16px; 
}

.tab {
  width: 150px;
  height: 45px;
  padding: 10px 16px; 
  border-radius: 10px; 
  background: #D8EAD2; 
  color: #6B7280; 
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  justify-content: center;
}

.tab.router-link-active { 
  background: #A3C4A8; 
  color: #FEFBF6;
}