.poi-title {
    font-weight: 600;
    font-size: 18px;
    height: 90px;
    color: #2f2f2f;
}

.poi-panel {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.poi-list-container {
    background: #D8EAD2;
    border-radius: 10px;
    height: 300px;
    overflow: scroll;
}

.poi-list {
    flex: 1;
    flex-direction: column;
}

.poi-item {
    display: block;
    width: 100%;
    text-align: left;
    padding: 8px 20px;
    border-bottom: 1px solid #6B7280;
    font-weight: 500;
}

.poi-item:first-child {
    padding-top: 10px;
}

.poi-action {
    margin-top: 20px;
}

.poi-btn {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
}

.poi-btn.add {
    background-color: #7DA085;
    color: #fff;
    align-items: center;
}
